In [1]:
import pandas as pd

## Importing Data

In [3]:
df = pd.read_csv('data.csv.csv')

In [5]:
df.head()

        fever  bodyPain  age  diffBreath  runnyNose  infectionProb
0  101.953688         0   99           1          1              1
1  100.094624         0  100           1          1              0
2   98.623474         0   44          -1          1              1
3  100.725960         1   64          -1          1              0
4   98.858438         1   32           1          0              0

In [6]:
df.tail()

           fever  bodyPain  age  diffBreath  runnyNose  infectionProb
5694  101.742727         1   61           0          1              0
5695   99.248240         1   54           1          1              0
5696  100.103951         1   59           1          0              0
5697  100.252281         1   23           0          0              1
5698  101.211420         1   35          -1          0              1

In [8]:
df['diffBreath'].value_counts()

 1    1973
 0    1865
-1    1861
Name: diffBreath, dtype: int64

In [9]:
df.describe()

,fever,bodyPain,age,diffBreath,runnyNose,infectionProb
count,5699.000000,5699.000000,5699.000000,5699.000000,5699.000000,5699.000000
mean,99.972971,0.503422,50.535006,0.019653,0.501667,0.499386
std,1.147972,0.500032,28.878772,0.820050,0.500041,0.500043
min,98.000130,0.000000,1.000000,-1.000000,0.000000,0.000000
25%,98.996338,0.000000,26.000000,-1.000000,0.000000,0.000000
50%,99.954217,1.000000,50.000000,0.000000,1.000000,0.000000
75%,100.957012,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999319,1.000000,100.000000,1.000000,1.000000,1.000000

## Train test splitting

In [10]:
import numpy as np

In [17]:
 def dataSplit(data,ratio):
        shffled = np.random.permutation(len(data))
        testSize = int(len(data) * ratio)
        test_indices = shffled[:testSize]
        train_indices = shffled[testSize:]
        return data.iloc[train_indices],data.iloc[test_indices]

In [12]:
np.random.permutation(10)

array([6, 7, 2, 1, 8, 3, 4, 0, 9, 5])

In [18]:
train, test = dataSplit(df,0.2)

In [20]:
print(train)

           fever  bodyPain  age  diffBreath  runnyNose  infectionProb
3593   99.208301         0   56          -1          0              0
1035   99.265735         0   85           1          1              0
5352   99.036330         1   59          -1          1              0
3406  101.071832         1   69          -1          0              1
4461   99.886145         1   30           0          0              1
...          ...       ...  ...         ...        ...            ...
5577  100.033112         1   43          -1          1              0
1242   98.941163         0   67           0          1              1
3479   98.709704         0    2          -1          0              0
2952   98.551748         1   42          -1          0              1
4851   98.863139         1   50           1          0              1

[4560 rows x 6 columns]

In [26]:
X_train = train[['fever','bodyPain','age','diffBreath','runnyNose']].to_numpy()
X_test = test[['fever','bodyPain','age','diffBreath','runnyNose']].to_numpy()

In [27]:
X_train

array([[99.208301  ,  0.        , 56.        , -1.        ,  0.        ],
       [99.26573516,  0.        , 85.        ,  1.        ,  1.        ],
       [99.03632996,  1.        , 59.        , -1.        ,  1.        ],
       ...,
       [98.70970364,  0.        ,  2.        , -1.        ,  0.        ],
       [98.55174808,  1.        , 42.        , -1.        ,  0.        ],
       [98.8631392 ,  1.        , 50.        ,  1.        ,  0.        ]])

In [28]:
train

           fever  bodyPain  age  diffBreath  runnyNose  infectionProb
3593   99.208301         0   56          -1          0              0
1035   99.265735         0   85           1          1              0
5352   99.036330         1   59          -1          1              0
3406  101.071832         1   69          -1          0              1
4461   99.886145         1   30           0          0              1
...          ...       ...  ...         ...        ...            ...
5577  100.033112         1   43          -1          1              0
1242   98.941163         0   67           0          1              1
3479   98.709704         0    2          -1          0              0
2952   98.551748         1   42          -1          0              1
4851   98.863139         1   50           1          0              1

[4560 rows x 6 columns]

In [29]:
test

           fever  bodyPain  age  diffBreath  runnyNose  infectionProb
4930   99.733561         1   72           0          1              1
2775  101.220715         1   59           1          1              0
4604  101.411503         1    7          -1          0              0
5304  100.735643         1    5          -1          1              1
2659   99.341647         0   13           0          1              0
...          ...       ...  ...         ...        ...            ...
3945   99.239698         1   57           1          1              0
3157  100.310374         0   37          -1          1              0
1939  100.147489         0   19           1          0              0
1271  100.186088         0   75           1          0              0
2772   99.564056         0   22           0          0              0

[1139 rows x 6 columns]

In [30]:
X_train

array([[99.208301  ,  0.        , 56.        , -1.        ,  0.        ],
       [99.26573516,  0.        , 85.        ,  1.        ,  1.        ],
       [99.03632996,  1.        , 59.        , -1.        ,  1.        ],
       ...,
       [98.70970364,  0.        ,  2.        , -1.        ,  0.        ],
       [98.55174808,  1.        , 42.        , -1.        ,  0.        ],
       [98.8631392 ,  1.        , 50.        ,  1.        ,  0.        ]])

In [33]:
Y_train = train[['infectionProb']].to_numpy().reshape(1,-1)
Y_test = test[['infectionProb']].to_numpy().reshape(1,-1)

In [34]:
Y_test

array([[1, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [35]:
from sklearn.linear_model import LogisticRegression